# Ignore virtual environments
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
data/multi_lj_barb/wavs/

SpeechBackbones/DiffVC/checkpts/vc/vc_libritts_wodyn.pt
SpeechBackbones/GradTTS/checkpts/grad_2000cmu.pt
evaluation/WER_evaluation.py
SpeechBackbones/GradTTS/checkpts/grad_1000ita.pt
SpeechBackbones/GradTTS/checkpts/grad_500ita.pt
SpeechBackbones/GradTTS/checkpts/grad_1400ita.pt
SpeechBackbones/GradTTS/checkpts/grad_1500ita.pt
data/barbero_eng
