# Ignore virtual environments
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
cmu_1epoch.wav
original.wav
it/
SpeechBackbones/GradTTS/checkpts/grad_1.pt
SpeechBackbones/GradTTS/checkpts/grad_50.pt
SpeechBackbones/GradTTS/checkpts/eng/grad_100.pt
SpeechBackbones/GradTTS/checkpts/eng/grad_200.pt
SpeechBackbones/GradTTS/checkpts/eng/grad_500.pt
SpeechBackbones/GradTTS/checkpts/eng/grad_800.pt
SpeechBackbones/GradTTS/checkpts/eng/grad_1000.pt
SpeechBackbones/GradTTS/checkpts/eng/grad_1500.pt
SpeechBackbones/GradTTS/checkpts/eng/grad_1800.pt
SpeechBackbones/GradTTS/checkpts/eng/grad_2000.pt
SpeechBackbones/GradTTS/checkpts/ita/grad_200.pt
SpeechBackbones/GradTTS/checkpts/ita/grad_500.pt
SpeechBackbones/GradTTS/checkpts/ita/grad_700.pt
SpeechBackbones/GradTTS/checkpts/ita/grad_800.pt
SpeechBackbones/GradTTS/checkpts/ita/grad_1000.pt
SpeechBackbones/GradTTS/checkpts/ita/grad_1500.pt
SpeechBackbones/GradTTS/checkpts/multi/grad_100Fresh.pt
SpeechBackbones/GradTTS/checkpts/multi/grad_200Fresh.pt
SpeechBackbones/GradTTS/checkpts/multi/grad_300Fresh.pt
SpeechBackbones/GradTTS/checkpts/multi/grad_400Fresh.pt
SpeechBackbones/GradTTS/checkpts/multi/grad_500Fresh.pt
