# Ignore virtual environments
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
cmu_1epoch.wav
original.wav
it/
data/multi_lj_barb/wavs/

SpeechBackbones/DiffVC/checkpts/vc/vc_libritts_wodyn.pt
SpeechBackbones/GradTTS/checkpts/grad_2000cmu.pt
SpeechBackbones/GradTTS/checkpts/grad_1000ita.pt
SpeechBackbones/GradTTS/checkpts/grad_500ita.pt
SpeechBackbones/GradTTS/checkpts/grad_1400ita.pt
SpeechBackbones/GradTTS/checkpts/grad_1500ita.pt
data/barbero_eng
SpeechBackbones/GradTTS/checkpts/grad_1.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_100.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_200.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_300.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_400.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_500.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_600.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_700.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_800.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_900.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_1000.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_1100.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_1200.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_1300.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_1400.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_1500.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_1600.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_1700.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_1800.pt
SpeechBackbones/GradTTS/checkpts/BarberoPUREcmu/grad_1900.pt
